NODE_ENV=development

# Debug
LOG_LEVEL=debug

# Server port
PORT=4000

MONGO_USERNAME=root
MONGO_PASSWORD=root
MONGO_HOSTNAME=localhost
MONGO_PORT=27017
MONGO_DB=authorization-database

# Client URI
CLIENT_URI=http://localhost:3000

# Nodemailer config
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET=p4sta.w1th-b0logn3s3-s@uce
JWT_ALGO=RS256

TWO_FACTOR_AUTHENTICATION_APP_NAME=