# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

/.idea

# dotenv environment variables file
.env
